{
  "StroageURL": "ws://127.0.0.1:3000",
  "SourceURL": [
    "http://192.168.1.1:8080",
    "http://192.168.1.2:8080"
  ],
  "ListenAddr": "127.0.0.1:8001",
  "Interval": {
    "CPU": 5,
    "MEM": 5,
    "LOAD": 5,
    "NET": 5,
    "MOUNTS": 5,
    "DISK": 5
  },
  "Token": ""
}